@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.manrope-font {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight:500;
    font-style: normal;
  }
  


  .azeret-mono-font {
    font-family: "Azeret Mono", monospace !important;
    font-size: 16px !important;
    font-weight:500 !important;
    font-style: normal !important;
  }
  


  .dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }


  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }


  .bg-lines-dark {
    background-image: url("https://themesflat.co/html/open9/assets/images/item-background/bg-contact.png");
    /* background-position: center; */
    background-repeat: repeat;
    min-height: 35vh;
    background-color: #161616;
  }
  
  .bg-lines-light {
    background-image: url("https://html.rainbow-themes.net/seoes/assets/images/bg-shp-19.png");
    /* background-image: url("../stacked-waves-haikei.png"); */
    /* width: 100%; */
    background-position: center;
    background-repeat: repeat;
    min-height: 35vh;
    background-color: #fff
  }
  .bg-lines-light-header {
    /* background-image: url("https://techbenextjs.vercel.app/_next/image?url=%2Fassets%2Fimg%2Fshape%2FtestimonialShape2_1.png&w=384&q=75"); */
    background-image: url("https://rogan.vercel.app/_next/static/media/map.3b1f603c.png");
    /* width: 100%; */
    background-position: center;
    /* background-repeat: repeat; */
    min-height: 45vh;
    background-color: rgb(255, 255, 255,0.9);
  }


  .bg-lines-Text{
      /* background-image: url("https://techbenextjs.vercel.app/_next/image?url=%2Fassets%2Fimg%2Fshape%2FtestimonialShape2_1.png&w=384&q=75"); */
      background-image: url("https://html.rainbow-themes.net/seoes/assets/images/bg-shp-18.png");
      /* width: 100%; */
     
      /* background-repeat: repeat; */
    
      background-color: rgb(255, 255, 255,0.9);
  }

  .Font-Color-Active-Light-Mode{
   color: #161616 !important
}


/* Default active button styles */
.custom-v-btn--active {
  color: #161616 !important;
  background-color: #88b80f ;
  font-weight: bold;
  /* border: 2px solid var(--v-theme-primary); */
}

/* Active button styles for Dark Mode */
/* .v-theme-dark .custom-v-btn--active {
  color: var(--v-theme-on-surface);
  background-color: #88b80f; 
  border: 2px solid var(--v-theme-secondary);
} */

/* Active button styles for Light Mode */
/* .v-theme-light .custom-v-btn--active {
  color: var(--v-theme-primary);
  background-color: #fff; 
  border: 2px solid var(--v-theme-secondary);
} */